# Build & Dev artifacts
coverage/
*.tsbuildinfo
.nyc_output/
*.lcov
logs/
*.log

# Tests & mocks
**/__tests__/
__mocks__/
*.test.*
*.spec.*

# Dev & Tooling configs
.eslintrc*
eslint.config.*
.prettierrc*
.prettierignore
jest.config.*
vitest.config.*
tsconfig.*.json
tsup.config.*
babel.config.*
commitlint.config.*
release.config.*
.lintstagedrc*
*.yml
*.yaml
*.md

# CI / VCS / Local editor files
.github/
.vscode/
.npmignore
.gitattributes
.gitignore

# Environment & Docker
.env*
!.env.example
Dockerfile*
docker-compose.*

# Dependency manager lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Miscellaneous
*.tgz
node_modules/
.pnpm-debug.log*
.yarn-integrity
.yarn/
.cache/
