# Ignore build output directories (Nest.js-specific)
dist/

# Ignore git hooks
.husky/

# Ignore node_modules (dependencies)
node_modules/

# Ignore TypeScript declaration files
*.d.ts

# Ignore lock files and configuration files
package*.json
yarn.lock
pnpm-lock.yaml

# Ignore environment files
*env*

# Ignore public/static assets and coverage files
public/
static/
coverage/
test/

# Ignore lint/format-related configuration files
.eslintrc.json
commitlint.config.ts

# Ignore Prettier configuration file itself
.prettierrc
.prettierignore
